# vim:ft=cfg
[defaults]
# Verbosity, equivalent to the number of "-v" passed in the command line
verbosity = 0
# Inventory sources
inventory = inventories/inventory.yaml
# Path to roles
roles_path = roles_galaxy:roles
# Path to collections
collections_path = collections_galaxy:collections
# Avoid host key checking
host_key_checking = false
# Discover Python silently
interpreter_python = auto_silent
# Only gather facts when they have not been cached
gathering = smart
# Cache facts to avoid re-gathering them
fact_caching = jsonfile
# Cache file timeout
fact_caching_timeout = 1800
# Path to facts cache file
fact_caching_connection = /tmp/ansible_facts_cache

[ssh_connection]
# Enable pipelining and dramatically reduce task execution time
pipelining = true
